@import "tailwindcss";

@font-face {
  font-family: gajraj;
  src: url('./assets/GajrajOne-Regular.ttf');
}

@theme {
  --font-gajraj: gajraj, "sans-serif";
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
  font-size: 30px;
}
